<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <div class="nested-menu" *ngFor="let item of functions">
            <a [routerLink]="[item.url]" (click)="addExpandClass(item.id)" class="list-group-item">
                <i class="fa {{item.iCon}}"></i>&nbsp;
                <span>{{ item.name }}</span>
            </a>
            <li [class.expand]="showMenu === item.id" class="nested">
                <ul class="submenu">
                    <li *ngFor="let subItem of item.children">
                        <a [routerLinkActive]="['router-link-active']" [routerLink]="[subItem.url]" href="javascript:void(0)" >
                            <i class="fa {{subItem.iCon}}"></i>&nbsp;
                            <span>{{ subItem.name }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
